<!DOCTYPE html>
<html>
  <head>
    <title>Calvary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger') %>
        <% unless request.path.start_with? '/customer' %>
          <%= link_to 'Customers', customers_path, class: 'btn btn-primary' %>
        <% end %>
        <% unless(request.path.start_with?('/visit') || request.controller_instance.class.name.start_with?('Visit')) %>
          <%= link_to 'Visits', visits_path, class: 'btn btn-primary' %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
